/*======BACKGROUND======*/
body {
    background-image: url("../img/bike_street.jpg");
    height: 700px;
    width: 100%;
    background-size: cover;
}

/*==========STORY SECTION==========*/
main h3 {
    margin-top: 5%;
    margin-right: 70%;
    margin-left: 5%;
    box-shadow: 5px 5px 9px #000;
}

main p {
    margin: 0% 5% 3% 5%;
    box-shadow: 5px 5px 9px #000;
}

#naked {
    margin-right: 61%;
}

.link {
    text-decoration: none;
    color: #630e0e;
}

.link:hover {
    color: #fff;
    background-color: #630e0e;
    cursor: cell;
}