/*=========UNIVERSALS=========*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Play|Ubuntu');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.inline-block {
    display: inline-block;
}

p {
    background-color: rgba(255, 255, 255, .4);
    border-radius: 4px;
    padding: 2px;
}

h3 {
    background-color: rgba(255, 255, 255, .4);
    border-radius: 4px;
    padding: 3px;
}

#title {
    text-align: center;
    text-shadow: 4px 4px 5px #000;
    color: #fff;
    font-size: 40px;
    font-family: play;
}

#title1 {
    text-shadow: 4px 4px 5px #000;
    color: #fff;
    font-size: 40px;
    font-family: play;
}

/*==========HEADER==========*/
header {
    padding: 5px 10px 30px 0px;
    height: 18px;
    top: 0;
    background-color: #310D0D;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
    font-family: ubuntu
}

header ul {
    text-align: center;
}

header ul li {
    padding: 5px 25px 5px 25px;
    color: #fff;
}

.pop:hover {
    background-color: rgba(255, 255, 255, .5);
    padding: 5px 25px 5px 25px;
    color: #000;
    cursor: cell;
}

span img {
    height: 50px;
    width: 50px;
    float: left;
    padding-right: 5px;
}

header span h1 {
    float: left;
    margin: 0;
    padding-top: 5px;
}

/*=========HERO SECTION=========*/
#hero {
    background-image: url("../img/japanesetour.jpg");
    height: 700px;
    width: 100%;
    background-size: cover;
}

div audio {
    margin: 100px 0 0 550px;
}

#hero h1 {
    margin: 0;
    padding-top: 20px;
    padding-left: 160px;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
}

/*=============MAIN SECTION===============*/
#content {
    height: 600px;
}

#gradient {
    background: linear-gradient(#C2C2FF, #e03804)
}

.container: {
    position: relative;
}

main>div>section {
    text-shadow: 2px 2px 5px #000;
    font-family: ubuntu;
}

#text1 {
    font-size: 24px;
    position: absolute;
    margin-top: -282px;
    left: 134px;
    transition: 1s ease;
    opacity: 0;
    text-shadow: 1px 1px 2px #000;
}

.overlay {
    transition: .5s ease;
}

.container:hover #text1 {
    opacity: 1;
}

.container:hover .overlay {
    opacity: .2;
    cursor:cell;
}

#text2 {
    font-size: 24px;
    position: absolute;
    margin-top: -282px;
    left: 568px;
    transition: 1s ease;
    opacity: 0;
    text-shadow: 1px 1px 2px #000;
}

.container:hover #text2 {
    opacity: 1;
}

#text3 {
    font-size: 24px;
    position: absolute;
    margin-top: -282px;
    left: 1035px;
    transition: 1s ease;
    opacity: 0;
    text-shadow: 1px 1px 2px #000;
}

.container:hover #text3 {
    opacity: 1;
}



main div section img {
    height: 500px;
}

.width {
    width: 33%;
    text-align: center;
    font-size: 33px;
}

/*=============FOOTER SECTION==============*/
.boot {
    padding: 10px;
    text-align: center;
    background-color: #310D0D;
    color: #fff;
    margin-bottom: 0;
}

.boot div a {
    color: #fff;
    padding: 20px;
}