/*=========UNIVERSALS=========*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.inline-block {
    display: inline-block;
}

p {
    background-color: rgba(255, 255, 255, .4);
}

h3 {
    background-color: rgba(255, 255, 255, .4);
}

#title {
    text-align: center;
    text-shadow: 4px 4px 5px #000;
    color: #fff;
    font-size: 40px;
}

/*==========HEADER==========*/
header {
    padding: 5px 10px 30px 0px;
    height: 18px;
    top: 0;
    background-color: #310D0D;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
}

header ul {
    text-align: center;
}

header ul li {
    padding: 5px 25px 5px 25px;
    color: #fff;
}

.pop:hover {
    background-color: rgba(255, 255, 255, .5);
    padding: 5px 25px 5px 25px;
    color: #000;
}

span img {
    height: 50px;
    width: 50px;
    float: left;
    padding-right: 5px;
}

header span h1 {
    float: left;
    margin: 0;
    padding-top: 5px;
}

/*=========HERO SECTION=========*/
#hero {
    background-image: url("../img/japanesetour.jpg");
    height: 700px;
    width: 100%;
    background-size: cover;
}

#hero h1 {
    margin: 0;
    padding-top: 20px;
    padding-left: 160px;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
}

/*=============MAIN SECTION===============*/
#content {
    height: 600px;
}

.container: {
    position: relative;
}

.overlay1 {
    position: absolute;
    top: 218%;
    margin-left: 33px;
    height: 139%;
    width: 28%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, .7);
}

.container:hover .overlay1 {
    opacity: 1;
}

.overlay2 {
    position: absolute;
    top: 218%;
    margin-left: 34px;
    height: 139%;
    width: 28%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, .7);
}

.container:hover .overlay2 {
    opacity: 1;
}

.overlay3 {
    position: absolute;
    top: 218%;
    margin-left: 34px;
    height: 139%;
    width: 28%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, .7);
}

.container:hover .overlay3 {
    opacity: 1;
}

#text {
    font-size: 18px;
    position: absolute;
    margin-top: 50%;
    left: 50%;
    transition: 1s ease;
    transform: translate(-50%, -50%);
}

#content section a:hover {
    z-index: 10;
    transform: translate(-50%, -50%);
}

main div section img {
    width: 375px;
    height: 500px;
}

.width {
    width: 33%;
    text-align: center;
    font-size: 33px;
}

/*=============FOOTER SECTION==============*/
.boot {
    padding: 10px;
    text-align: center;
    background-color: #310D0D;
    color: #fff;
    margin-bottom: 0;
}

.boot div a {
    color: #fff;
    padding: 20px;
}